body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
#canvas{
   top:50%;
   left:50%;
   border: 2px solid black;
   width: 90%;
   height: 90%;
   background-color: black;
}