body{
    background-color: rgb(17, 17, 17);
    margin: 0;
    padding: 0;
}

#canvas{
    position: absolute;
   /* background-color: aliceblue;*/
    border: 2px solid white;
    width: 800px;
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


#first{
    height: 500px;
    width: 700px;
    background-color: rgb(182, 114, 69);
    position: absolute;
    left: 25%;
    top: 15%;
}

img{
    height: 480px;
    width: 680px;
    margin: 10px;
}
.button{
    top: 35%;
    background-color: burlywood;
    color: cadetblue;
    display: inline;
}
